.modal {
    position: fixed;
    z-index: 500;
    background-color: lightgray;
    width: 70%;
    border: 1px solid gray;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    opacity: 1;
    transition: .3s ease-out;
}

.hidden {
    position: absolute;
    opacity: 0;
    transform: translateY(-100vh);    
}

@media(min-width: 600px) {
    .modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}
